<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/simple.css">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
</head>
<body>
        
        <div class="containner" id="target">
            
        </div>
        
        
        <div class="scoreboard_containner">
            
            <div class="top-10">
                <h2 class="title">当前排名</h2>
                <ul>
                    
                </ul>
                <div id="rank-more">
                    <span class="span-h7"><a href="#">查看更多</a></span>
                </div>
    
            </div>
        </div>
    <script src="jquery.min.js"></script>
    <script>
        function generation(data1,data2){
            var target = $('#target');
            var ps = $("<div class = 'col-sm-3 newNode'></div>");
            var numb1 = $("<div class = 'team1'></div>");
            var play1 = $("<div class = 'play1'></div>");
            var play2 = $("<div class = 'play2'></div>");
            play1.text(data2.player1);
            play2.text(data2.player2);
            numb1.append(play1);
            numb1.append(play2);
            var hid1 = $("<div style='display:none;' id='id'> </div>");
            hid1.text(data2.id);
            numb1.append(hid1);
            var numb2 = $("<div class = 'team2'></div>");
            var play3 = $("<div class = 'play1'></div>");
            var play4 = $("<div class = 'play2'></div>");
            play3.text(data1.player1);
            play4.text(data1.player2);
            numb2.append(play3);
            numb2.append(play4);
            var hid2 = $("<div style='display:none;' id='id'> </div>");
            hid2.text(data2.id);
            numb2.append(hid2);

            ps.append(numb1);
            ps.append(numb2);
            target.append(ps);

        }
        function rank(team1,team2)
        {
            var ul = $('div.top-10 ul');
            var li1 = $("<li> </li>");
            var a1 = $("<a></a>");
            li1.text(team1.player1 + '  ' + team1.player2);
            a1.text(team1.score);
            li1.append(a1);
            ul.append(li1);
            var li2 = $("<li> </li>");
            var a2 = $("<a></a>")
            li2.text(team2.player1 + '  ' + team2.player2);
            a2.text(team1.score);
            li2.append(a2);

            ul.append(li2);
        }

        $.ajax({
            url: "/race/game_rank",
            async: false,
            type: "GET",
            dataType: 'json',
            success:function (data){
                for(var i=1; i<data.length; i += 2)
                {
                    generation(data[i-1],data[i]);
                    rank(data[i-1],data[i]);
                }

            },
            error:function () {
                alert('输入的信息有误');
            }
        });
    </script>
</body>
</html>