<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>录入人员信息</title>
    <embed src="./static/Otokaze.mp3" hidden="true" autostart="true" loop="true">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="bootstrap-table/css/bootstrap-table.css" />
    <link rel="stylesheet" href="adminlte/css/AdminLTE.min.css" />
    <link rel="stylesheet" href="css/simple.css">
</head>

<body>
    <section>
        <!-- 背景颜色 -->
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="box">
            <!-- 背景圆 -->
            <div class="circle" style="--x:0"></div>
            <div class="circle" style="--x:1"></div>
            <div class="circle" style="--x:2"></div>
            <div class="circle" style="--x:3"></div>
            <div class="circle" style="--x:4"></div>
        </div>
        <div id="userModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">新增队伍</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="userForm">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">队员1姓名 :</label>
                                    <div class="col-sm-8">
                                        <input name="player1" class="form-control" placeholder="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">队员2姓名 :</label>
                                    <div class="col-sm-8">
                                        <input name="player2" class="form-control" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="pull-right">
                                    <button type="button" id="saveteam" class="btn btn-info">确定</button>
                                    <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-containner">
            <h1>参赛人员登记表</h1>
            <div class="jax-box jax-box-table">
                <div id="toolbar" class="btn-group">
                    <div class="col-xs-4">
                        <button id="btn_add" type="button" class=" btn btn-primary" data-toggle="modal" data-target="#userModal">添加</button>
                    </div>
                    <div class="col-xs-4">
                        <button id="btn_batch_delete" type="button" class="btn btn-danger">批量删除</button>
                    </div>


                </div>
                <div class="table-responsive">
                    <div id="fixed-columns">
                        <table id="table" class="table text-nowrap"></table>
                    </div>

                </div>
            </div>
            <button id="begin" type="button" class="btn btn-danger">开始比赛</button>
        </div>
        <div class="heart" id="head">

        </div>
    </section>





    <script src="jquery.min.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
    <script src="bootstrap-table/js/bootstrap-table.js"></script>
    <script>
        //加载列表

        $("#table").bootstrapTable({
            pagination: false,
            url: 'http://localhost:8081/race/game_rank',
            pageSize: 15,
            pageList: [5, 10, 15, 20],
            columns: [{
                checkbox: true
            }, {
                field: 'player1',
                title: '队员1',
                align: "center"
            }, {
                field: 'player2',
                title: '队员2',
                align: "center"
            }, {
                field: 'id',
                title: 'id',
                align: "center"
            }, {
                field: 'score',
                title: '分数',
                align: "center",
            }, {
                field: 'idx',
                title: '当前阶段',
                align: "center"
            }],
            toolbar: '#toolbar',
            // striped: true
        });
        /*查询用户参数*/

        $("#saveUser").click(function () {
            $.ajax({
                url: "/team/add",
                async: true,
                data: $("#userForm").serialize(),
                type: "POST",
                success: function () {
                    $("#table").bootstrapTable("refresh");
                },
                error:function () {
                    alert('出错了');
                }
            });
        })
    </script>
</body>

</html>